<br />
<div class="container">
 <div class="row">
 <div class="col-md-12">
 <a [routerLink]="['/admin/newPost']" class="btn btn-success btn-sm pull-right">+&nbsp;&nbsp;New Post</a><br /><br />
 <table class="table table-hover">
 <thead>
 <tr>
 <th>Title</th>
 <th>Post Date</th>
 <th>Category</th>
 </tr>
 </thead>
 <tbody>
 <tr *ngFor="let bPosts of blogPosts" (click)="rowClicked($event, bPosts._id)">
    <td>{{ bPosts.title }}</td>
    <td>{{ bPosts.postDate | date:'mediumDate' }}</td>
    <td>{{ bPosts.category }}</td>
 </tr>
 </tbody>
 </table>
 </div>
 </div>
</div>
<br />